# Resources required by the sample browser and most samples.
[Essential]
Zip=./media/packs/SdkTrays.zip
#Zip=../../Media/packs/profiler.zip
#FileSystem=../../Media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=./media/fonts
FileSystem=./media/materials/programs
FileSystem=./media/materials/programs/GLSL
FileSystem=./media/materials/scripts
FileSystem=./media/materials/textures
FileSystem=./media/materials/textures/nvidia
FileSystem=./media/models
#FileSystem=../../Media/particle
#FileSystem=../../Media/DeferredShadingMedia
#FileSystem=../../Media/PCZAppMedia
FileSystem=./media/RTShaderLib
FileSystem=./media/RTShaderLib/materials
#FileSystem=../../Media/materials/scripts/SSAO
#FileSystem=../../Media/materials/textures/SSAO
#FileSystem=../../Media/volumeTerrain
#Zip=../../Media/packs/cubemap.zip
#Zip=../../Media/packs/cubemapsJS.zip
#Zip=../../Media/packs/dragon.zip
#Zip=../../Media/packs/fresneldemo.zip
#Zip=../../Media/packs/ogretestmap.zip
#Zip=../../Media/packs/ogredance.zip
#Zip=../../Media/packs/Sinbad.zip
Zip=./media/packs/skybox.zip
#Zip=../../Media/volumeTerrain/volumeTerrainBig.zip

#[General]
FileSystem=./media

# Materials for visual tests
#[Tests]
#FileSystem=../../Tests/Media
